<div id="footer">
	<div class="container">


		
		<div id="subfooter">
			<div class="row">
				<div class="col-sm-4">
					<p class="cant-score">Hef can't "score"</p>
				</div>
				<div class="col-sm-8">
					<p class="no-more">"No more rankings for me; I honestly don’t know what constitutes a 5 vs a 6."</p>
				</div>
			</div>
		</div>

	</div>
</div>