<div id="footer">
	<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<p>
				
				Hef: 2019 resolutions? CB: Maybe ride bike. You? Hef: A and B and C and D and listen to 52 records "in entirety" and X and Y and Z. CB: How about this: you and I EACH need to listen to 52 records which the OTHER guy tells us to listen to. Hef: Okay. CB: Okay.


			</p>
		</div>
	</div>
		
	</div>

</div>