<tr>
	<td>
			<span class="artist"><%= fourth_level_item[3] %></span>
			<span class="record"><%= spotify_link fourth_level_item %></span>
			<span class="year"><%= fourth_level_item[5] %></span>

	</td>
</tr>