<div id="this_week">
	<div class="container">
		<div class="row">
			<%= partial :last_week_guy, locals: {guy: @hef_data} %>
			<%= partial :last_week_guy, locals: {guy: @cb_data} %>
		</div>
	</div>
</div>
