<div id="links_and_credits">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<p>
					<%= partial :links_and_credits_list %>
				</p>
			</div>
		</div>

		

	</div>
</div>