<div id="links_and_credits">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<p>
					<a href="https://docs.google.com/spreadsheets/d/1Y6iKdlutLGXz_0Wb1OktoGezUcD9Xw-s_Sy0NR0YPHk/edit?usp=sharing"><i class="fab fa-google-drive"></i> Data</a> | 
					<a href="https://github.com/cbeery/records2019"><i class="fab fa-github"></i> Code</a> | 
					<a href="https://twitter.com/hef229"><i class="fab fa-twitter"></i> @hef229</a> | 
					<a href="https://twitter.com/BeeryGuy"><i class="fab fa-twitter"></i> @BeeryGuy</a>
				</p>
			</div>
		</div>

		

	</div>
</div>