<!-- footer notes: describe the deal and the setup -->
<footer>
	<div class="container">
		<p><%= partial :links_and_credits_list %></p>
		<p>Most of this crap was coded by hand.</p>
	</div>
</footer>
