<span class="hef">
	<span class="name">Hef: </span>
	2019 resolutions?
</span>

<span class="cb">
	<span class="name">CB: </span>
	Maybe ride bike. You?
</span>

<span class="hef">
	<span class="name">Hef: </span>
	A and B and C and D and <span class="callout">listen to 52 records "in entirety"</span> and X and Y and Z.
</span>

<span class="cb">
	<span class="name">CB: </span>
	How about this: you and I <span class="callout">EACH need to listen to 52 records which the OTHER guy tells us</span> to listen to.
</span>

<span class="hef">
	<span class="name">Hef: </span>
	Okay.
</span>

<span class="cb">
	<span class="name">CB: </span>
	Okay.
</span>
