<div id="why">
	<div class="container">

		<div class="row">
			<div class="col-xs-12">
				<p>
					<span class="why">Why?</span>

					<span class="hef">
						<span class="name">Hef: </span>
						2019 resolutions?
					</span>
					
					<span class="cb">
						<span class="name">CB: </span>
						Maybe ride bike. You?
					</span>
					
					<span class="hef">
						<span class="name">Hef: </span>
						A and B and C and D and <span class="callout">listen to 52 records "in entirety"</span> and X and Y and Z.
					</span>
					
					<span class="cb">
						<span class="name">CB: </span>
						How about this: <span class="callout">you and I EACH need to listen to 52 records which the OTHER guy tells us to</span> listen to.
					</span>
					
					<span class="hef">
						<span class="name">Hef: </span>
						Okay.
					</span>
					
					<span class="cb">
						<span class="name">CB: </span>
						Okay.
					</span>
					
					<span class="why">That's why.</span>
				</p>
			</div>
		</div>

	</div>
</div>
