<div class="report">


	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">

					<h1>All the 2019 artists</h1>

					<ul id="artists">
						<% @artists.each do |artist| %>
							<li><%= artist %></li>
						<% end %>
					</ul>
			</div>
		</div>
	</div> <!-- .container -->


</div> <!-- #report -->