<div class="row">
	<div class="col-sm-4">
		<%= @hef.values.inspect %>
		
	</div>
	
	<div class="col-sm-4">
		<% @hef.values.each do |record| %>
			<p><%# record[4] %></p>
			<p><img src="<%= record[10] %>"" class="img img-responsive img-thumbnail"/></p>
		<% end %>
	</div>

	<div class="col-sm-4">
		<%# @cb.values[0..5] %>		
		<%# @cb.values.select{|v| !v[3].nil?} %>
		<% @cb.values.each do |record| %>
			<p><%# record[4] %></p>
			<p><img src="<%= record[10] %>"" class="img img-responsive img-thumbnail"/></p>
		<% end %>
	</div>
</div>
