$start-here-color:				#5d6b85;
$header-color:						$start-here-color;
$why-color:								lighten($start-here-color, 45%);
$why-text-color:					lighten($start-here-color, 30%);
$why-hef-text-color:			darken($start-here-color, 8%);
$why-cb-text-color:				lighten($start-here-color, 15%);
$why-callout-text-color:	darken($start-here-color, 58%);
$this-week-color:					lighten($start-here-color, 25%);
$ass: #804b4c;

body {
	background: #fff;
}

#header {
	background: $header-color;
	color: white;
	h1 {
		font-weight: bold;
		font-size: 2em;
	}	
}

#this_week {
	padding: 30px 0 60px 0;
	p.listening {
		min-height: 3em;
	}
}

#why {
	background: $why-color;
	color: $why-text-color;
	padding: 30px 0;
	@media (max-width: 768px) {
		font-size: .85em;
	}
	p {
		span.why { font-weight: bold; font-style: italic;}
		span.name {
			font-weight: bold;
		}
		span.hef {
			color: $why-hef-text-color;
		}
		span.cb {
			color: $why-cb-text-color;
		}
		span.callout {
			font-weight: bold;
			font-style: italic;
		}
	}
}

#last_week {
	background: #efefef;
	padding: 70px 0 110px 0;
	div.info {
		min-height: 9em;
	}

	p {
		line-height: 1.5em;
	}
	.record {
		font-weight: bold;
		font-size: 1.5em;
	}
	.artist {
		font-size: 1.2em;
		font-weight: bold;
		color: #666;
	}
	hr {
		border-color: #ccc;
	}
}

#third_level {
	padding: 50px 0 0 0;
	.third-level-item {
		min-height: 23em;
	}
	span.artist {
		font-weight: bold;
		color: #666;
	}
	span.album {
		font-style: italic;
	}
}

#fourth_level {
	// background: #ededef;
	padding: 60px 0;
	h2 {
		color: #888;
		font-size: 1.5em;
	}	
	.artist {
		font-weight: bold;
		color: #666;
	}
}

.has-cover {
	img {
		width: 100%;
	}	
}

#footer {
	padding: 60px 0;
	background: #ddd;
	color: #222;
	p.what-the-shit {
		font-weight: bold;
		font-size: 1.4em;
	}
	p.what-the-shit-is {
		span.name {
			font-weight: bold;
		}
		span.hef {
			color: #444;
		}
		span.cb {
			color: #888;
		}
		span.callout {
		}
	}
	#subfooter {
		color: #999;
		margin: 30px 0 0 0;
			font-size: 1.3em;
		p.cant-score {
		}
		p.no-more {
			font-style: italic;
		}
	}
}

p.commentary {
	color: #888;
	.who {
		font-weight: bold;
	}
	.quote {
		font-style: italic;
	}
}

p.rate {
	color: #bbb;
	strong {
		color: #888;
		font-size: 2.2em;
	}
}

.record {
	font-style: italic;
}
.year {
	color: #aaa;
}

h2 {
	border-bottom: solid 1px #ddd;
	margin-bottom: 20px;
}